@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){
body {
  max-width:100%;
  overflow-x:hidden;
}
}
/* @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
}
.figure {
  position: absolute;
  z-index: 2;
  zoom: 0.75;
}

.background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
zoom: 0.75;
}

.figure#a {
  left: calc(50% - 51.597vw);
  bottom: 299px;
  zoom: 0.5;
}
.figure#b {
  left: calc(50% - 40vw);
  bottom: 93px;
  zoom: 0.5;
}
.figure#c {
  left: calc(50% - 58.333vw);
  bottom: 0px;

  zoom: 0.5;
}
.figure#d {
  lleft: calc(50% - 31.389vw);
  bottom: 424px;
  zoom: 0.5;
}
.figure#e {
  left: calc(50% - 27.222vw);
  bottom: 0px;
  zoom: 0.5;
}
.figure#f {
  left: calc(50% - 12.986vw);
  bottom: 52px;
  zoom: 0.5;
}
.figure#g {
  left: calc(50% + 10.625vw);
  bottom: 360px;
  zoom: 0.5;
}
.figure#h {
  left: calc(50% + 0.139vw);;
  bottom: 0;
  zoom: 0.5;
}
.figure#i {
  left: calc(50% + 34.5vw);;
  bottom: 0px;
  zoom: 0.5;
} */
